In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
import requests
import warnings
warnings.filterwarnings("ignore")

In [9]:
df = pd.read_excel("forward_firm_universe.xlsx")

In [10]:
df.head()

            Entity_Name                   LEI          ISIN
0             Shell PLC  21380068P1DRHMJ8KU70  BRRDSABDR009
1     A Finkl & Sons Co                   NaN           NaN
2  A. Finkl & Sons Corp                   NaN           NaN
3     AEP Generating Co                   NaN           NaN
4  AGL Loy Yang Pty Ltd                   NaN           NaN

In [11]:
df.shape

(23446, 3)

In [12]:
df.columns = df.columns.str.lower()

In [13]:
GLEIF_API_URL = "https://api.gleif.org/api/v1/lei-records"

In [14]:
import re

def clean_company_name(name):
    # Remove common words and punctuation for comparison
    name = re.sub(r"\b(Co|Ltd|Corp|LLC|Company|Inc)\b", "", name, flags=re.IGNORECASE)
    name = re.sub(r"[^\w\s]", "", name)  # Remove punctuation
    name = name.strip()
    return name

In [ ]:
# # Function to find similar strings
# def find_similar(data, threshold=80):
#     similar_pairs = []
#     for i in range(len(data)):
#         for j in range(i + 1, len(data)):
#             if fuzz.ratio(data[i], data[j]) > threshold:
#                 similar_pairs.append((data[i], data[j]))
#     return similar_pairs

In [32]:
# # Find similar company names
# similar_names = find_similar(df['Entity_Name'].tolist())

# print("Similar Company Names:")
# for name_pair in similar_names:
#     print(name_pair)

In [37]:
def get_lei(company_name):
    params = {
        "filter[entity.legalName]": company_name,  # Search by legal name
        "page[size]": 1  # Limit to 1 result
    }
    response = requests.get(GLEIF_API_URL, params=params)
    if response.status_code == 200:
        results = response.json().get('data', [])
        if results:
            # Extract the LEI from the first result
            return results[0]['id']
        else:
            return None
    else:
        print(f"Error: {response.status_code}")
        return None

In [43]:
#df['LEI'] = df['entity_name'].apply(get_lei)

In [15]:
df['cleaned_entity_name'] = df['entity_name'].apply(clean_company_name)

In [16]:
df_cleaned = df.drop_duplicates(subset=['cleaned_entity_name'])

In [17]:
df_cleaned = df_cleaned.drop(columns=['lei'])

In [21]:
df_cleaned = df_cleaned[['cleaned_entity_name', 'entity_name']]

In [ ]:
def process_in_batches(companies, batch_size=100):
    results = []
    for i in range(0, len(companies), batch_size):
        batch = companies[i:i+batch_size]
        for company in batch:
            lei = get_lei_cached(company)
            results.append((company, lei))
        print(f"Processed batch {i // batch_size + 1}. Waiting for next batch...")
        time.sleep(60)  # Wait time between batches, e.g., 1 minute
    return results

In [14]:
import os
import pandas as pd
from dotenv import load_dotenv

load_dotenv()

True

In [27]:
import requests
from typing import Tuple

def get_company_info(company_names: list) -> Tuple[list, list, list]:
    """
    Retrieves company information from the PeopleDataLabs API for a list of company names.
    
    Parameters:
    company_names (list): A list of company legal names.
    
    Returns:
    Tuple[list, list, list]: Three lists containing the entity type, industry classification, and company size (number of employees) for each company.
    """
    entity_types = []
    industry_classifications = []
    company_sizes = []
    
    api_key = os.getenv("PEOPLEDATALABS_API_KEY")
    
    for company_name in company_names:
        url = f"https://api.peopledatalabs.com/v5/company/enrich?name={company_name}"
        headers = {
            "Authorization": f"Bearer {api_key}",
            "Content-Type": "application/json"
        }
        
        response = requests.get(url, headers=headers)
        
        if response.status_code == 200:
            data = response.json()
            
            entity_type = data.get("entity_type", "Not Found")
            industry_classification = data.get("industry_classification", "Not Found")
            company_size = data.get("company_size", "Not Found")
            
            entity_types.append(entity_type)
            industry_classifications.append(industry_classification)
            company_sizes.append(company_size)
        else:
            entity_types.append("Error")
            industry_classifications.append("Error")
            company_sizes.append("Error")
    
    return entity_types, industry_classifications, company_sizes

In [44]:
import requests

# Your People Data Labs API key
PDL_API_KEY = 'your_api_key_here'

def get_company_info(company_name):
    url = 'https://api.peopledatalabs.com/v5/company/enrich'
    params = {
        'name': company_name,
        'pretty': True,
        'api_key': os.getenv("PEOPLEDATALABS_API_KEY")
    }
    
    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        return {
            'Entity Type': data.get('type', 'N/A'),
            'Industry Classification': data.get('industry', 'N/A'),
            'Company Size': data.get('size', 'N/A'),
        }
    else:
        print(f"Failed to retrieve data for {company_name}")
        return None

In [47]:
# Example usage with a list of company names
company_names = ['Microsoft', 'Google', 'Tesla', "Ajaokuta Steel", "Chivita", 'MTN']
company_info_list = {}

for name in company_names:
    info = get_company_info(name)
    company_info_list[name] = info

# Display the collected information
for company, info in company_info_list.items():
    print(f"{company}: {info}")

Failed to retrieve data for Chivita
Microsoft: {'Entity Type': 'public', 'Industry Classification': 'computer software', 'Company Size': '10001+'}
Google: {'Entity Type': 'private', 'Industry Classification': 'internet', 'Company Size': '10001+'}
Tesla: {'Entity Type': 'public', 'Industry Classification': 'automotive', 'Company Size': '10001+'}
Ajaokuta Steel: {'Entity Type': 'government', 'Industry Classification': 'computer & network security', 'Company Size': '1-10'}
Chivita: None
MTN: {'Entity Type': 'public', 'Industry Classification': 'telecommunications', 'Company Size': '10001+'}

In [30]:
client = PDLPY(
    api_key=os.getenv("PEOPLEDATALABS_API_KEY")
)

In [43]:
result = client.company.enrichment(
    website="LinkedIn.com",
    pretty=True,
)
if result.ok:
    print(result.text)
else:
    print(
        f"Status: {result.status_code}"
        f"\nReason: {result.reason}")
        #f"\nMessage: {result.json()['error']['message']}")

{
  "status": 200,
  "name": "linkedin",
  "display_name": "LinkedIn",
  "size": "10001+",
  "employee_count": 32643,
  "id": "8QPs7V62lOefbTnR9UpgmwCn3lDe",
  "founded": 2003,
  "industry": "internet",
  "naics": [
    {
      "naics_code": "54161",
      "sector": "professional, scientific, and technical services",
      "sub_sector": "professional, scientific, and technical services",
      "industry_group": "management, scientific, and technical consulting services",
      "naics_industry": "management consulting services",
      "national_industry": null
    },
    {
      "naics_code": "54151",
      "sector": "professional, scientific, and technical services",
      "sub_sector": "professional, scientific, and technical services",
      "industry_group": "computer systems design and related services",
      "naics_industry": "computer systems design and related services",
      "national_industry": null
    },
    {
      "naics_code": "81299",
      "sector": "other services (except public administration)",
      "sub_sector": "personal and laundry services",
      "industry_group": "other personal services",
      "naics_industry": "all other personal services",
      "national_industry": null
    },
    {
      "naics_code": "5191",
      "sector": "information",
      "sub_sector": "other information services",
      "industry_group": "other information services",
      "naics_industry": null,
      "national_industry": null
    },
    {
      "naics_code": "451",
      "sector": "retail trade",
      "sub_sector": "sporting goods, hobby, musical instrument, and book stores",
      "industry_group": null,
      "naics_industry": null,
      "national_industry": null
    },
    {
      "naics_code": "813",
      "sector": "other services (except public administration)",
      "sub_sector": "religious, grantmaking, civic, professional, and similar organizations",
      "industry_group": null,
      "naics_industry": null,
      "national_industry": null
    },
    {
      "naics_code": "541330",
      "sector": "professional, scientific, and technical services",
      "sub_sector": "professional, scientific, and technical services",
      "industry_group": "architectural, engineering, and related services",
      "naics_industry": "engineering services",
      "national_industry": "engineering services"
    },
    {
      "naics_code": "5112",
      "sector": "information",
      "sub_sector": "publishing industries (except internet)",
      "industry_group": "software publishers",
      "naics_industry": null,
      "national_industry": null
    },
    {
      "naics_code": "54111",
      "sector": "professional, scientific, and technical services",
      "sub_sector": "professional, scientific, and technical services",
      "industry_group": "legal services",
      "naics_industry": "offices of lawyers",
      "national_industry": null
    },
    {
      "naics_code": "541612",
      "sector": "professional, scientific, and technical services",
      "sub_sector": "professional, scientific, and technical services",
      "industry_group": "management, scientific, and technical consulting services",
      "naics_industry": "management consulting services",
      "national_industry": "human resources consulting services"
    }
  ],
  "sic": [
    {
      "sic_code": "737",
      "major_group": "business services",
      "industry_group": "computer programming, data processing, and other computer related services",
      "industry_sector": null
    },
    {
      "sic_code": "4899",
      "major_group": "communications",
      "industry_group": "communications services, not elsewhere",
      "industry_sector": "communications services, not elsewhere classified"
    },
    {
      "sic_code": "5137",
      "major_group": "wholesale trade-non-durable goods",
      "industry_group": "apparel, piece goods, and notions",
      "industry_sector": "women's, children's, and infants' clothing and accessories"
    },
    {
      "sic_code": "86",
      "major_group": "membership organizations",
      "industry_group": null,
      "industry_sector": null
    },
    {
      "sic_code": "8711",
      "major_group": "engineering, accounting, research, management, and related services",
      "industry_group": "engineering, architectural, and surveying",
      "industry_sector": "engineering services"
    },
    {
      "sic_code": "7372",
      "major_group": "business services",
      "industry_group": "computer programming, data processing, and other computer related services",
      "industry_sector": "prepackaged software"
    },
    {
      "sic_code": "8111",
      "major_group": "legal services",
      "industry_group": "legal services",
      "industry_sector": "legal services"
    },
    {
      "sic_code": "8999",
      "major_group": "miscellaneous services",
      "industry_group": "miscellaneous services",
      "industry_sector": "services, not elsewhere classified"
    },
    {
      "sic_code": "8299",
      "major_group": "educational services",
      "industry_group": "schools and educational services, not elsewhere",
      "industry_sector": "schools and educational services, not elsewhere classified"
    },
    {
      "sic_code": "7299",
      "major_group": "personal services",
      "industry_group": "miscellaneous personal services",
      "industry_sector": "miscellaneous personal services, not elsewhere classified"
    }
  ],
  "location": {
    "name": "sunnyvale, california, united states",
    "locality": "sunnyvale",
    "region": "california",
    "metro": "san jose, california",
    "country": "united states",
    "continent": "north america",
    "street_address": "1000 west maude",
    "address_line_2": null,
    "postal_code": "94085",
    "geo": "37.36,-122.03"
  },
  "linkedin_id": "1337",
  "linkedin_url": "linkedin.com/company/linkedin",
  "linkedin_slug": "linkedin",
  "facebook_url": "facebook.com/linkedin",
  "twitter_url": "twitter.com/linkedin",
  "profiles": [
    "linkedin.com/company/linkedin",
    "crunchbase.com/organization/linkedin",
    "linkedin.com/company/1337",
    "facebook.com/linkedin",
    "twitter.com/linkedin"
  ],
  "website": "linkedin.com",
  "ticker": null,
  "gics_sector": null,
  "mic_exchange": null,
  "type": "public_subsidiary",
  "summary": "founded in 2003, linkedin connects the world's professionals to make them more productive and successful. with more than 1 billion members worldwide, including executives from every fortune 500 company, linkedin is the world's largest professional network. the company has a diversified business model with revenue coming from talent solutions, marketing solutions, sales solutions and premium subscriptions products. headquartered in silicon valley, linkedin has offices across the globe..",
  "tags": [
    "media and entertainment",
    "professional networking",
    "group collaboration",
    "professional identity",
    "jobs",
    "company search",
    "professional services",
    "social media",
    "online professional network",
    "address book"
  ],
  "headline": "Welcome to a world of career opportunities, advice, inspiration and community. Find your [in].",
  "alternative_names": [
    "linkedin guide to networking",
    "linkedin canada",
    "linkedin (\u9886\u82f1)",
    "linkedin india",
    "linkedin corporation",
    "linkedin learning",
    "linkedin nigeria",
    "linkedin malaysia",
    "lynda.com at linkedin",
    "linkedin brasil"
  ],
  "alternative_domains": [
    "linkedin.com/groups",
    "linkedin.com/studentjobs"
  ],
  "affiliated_profiles": [
    "LCODM34rxBtbcOj9ZCWMkAheDDHR",
    "45DFw4r7q3DSDkCp1DKB6QtoJNeB"
  ],
  "total_funding_raised": 154800000.0,
  "latest_funding_stage": "private_equity",
  "last_funding_date": "2016-02-15",
  "number_funding_rounds": 8,
  "funding_stages": [
    "series_d",
    "series_a",
    "secondary_market",
    "series_unknown",
    "series_c",
    "series_b",
    "private_equity"
  ],
  "employee_count_by_country": {
    "afghanistan": 9,
    "albania": 17,
    "algeria": 77,
    "andorra": 1,
    "angola": 6,
    "argentina": 102,
    "armenia": 3,
    "australia": 448,
    "austria": 114,
    "azerbaijan": 12,
    "bahamas": 2,
    "bahrain": 6,
    "bangladesh": 483,
    "belarus": 1,
    "belgium": 35,
    "belize": 2,
    "benin": 5,
    "bhutan": 1,
    "bolivia": 5,
    "bosnia and herzegovina": 5,
    "botswana": 3,
    "brazil": 833,
    "brunei": 1,
    "bulgaria": 12,
    "burkina faso": 5,
    "burundi": 1,
    "cambodia": 27,
    "cameroon": 16,
    "canada": 505,
    "cayman islands": 1,
    "chad": 4,
    "chile": 30,
    "china": 191,
    "colombia": 61,
    "costa rica": 12,
    "croatia": 10,
    "cuba": 1,
    "cyprus": 2,
    "czechia": 16,
    "c\u00f4te d'ivoire": 14,
    "democratic republic of the congo": 11,
    "denmark": 22,
    "djibouti": 1,
    "dominican republic": 15,
    "ecuador": 21,
    "egypt": 206,
    "el salvador": 7,
    "estonia": 2,
    "eswatini": 1,
    "ethiopia": 25,
    "fiji": 4,
    "finland": 10,
    "france": 394,
    "gabon": 3,
    "georgia": 7,
    "germany": 439,
    "ghana": 36,
    "greece": 7,
    "greenland": 1,
    "guadeloupe": 1,
    "guatemala": 5,
    "guinea": 3,
    "guinea-bissau": 2,
    "haiti": 6,
    "honduras": 1,
    "hong kong": 42,
    "hungary": 19,
    "iceland": 2,
    "india": 3685,
    "indonesia": 165,
    "iran": 79,
    "iraq": 19,
    "ireland": 2179,
    "israel": 53,
    "italy": 174,
    "jamaica": 6,
    "japan": 103,
    "jordan": 23,
    "kazakhstan": 9,
    "kenya": 67,
    "kosovo": 3,
    "kuwait": 6,
    "laos": 3,
    "latvia": 4,
    "lebanon": 24,
    "lesotho": 2,
    "liberia": 1,
    "libya": 6,
    "lithuania": 9,
    "luxembourg": 1,
    "madagascar": 5,
    "malawi": 3,
    "malaysia": 102,
    "mali": 4,
    "malta": 1,
    "mauritania": 5,
    "mauritius": 6,
    "mexico": 113,
    "moldova": 5,
    "monaco": 1,
    "mongolia": 2,
    "morocco": 102,
    "mozambique": 3,
    "myanmar": 14,
    "namibia": 5,
    "nepal": 23,
    "netherlands": 174,
    "new zealand": 14,
    "nicaragua": 3,
    "nigeria": 446,
    "north korea": 1,
    "north macedonia": 4,
    "norway": 11,
    "oman": 8,
    "other_uncategorized": 165,
    "pakistan": 1227,
    "palestine": 6,
    "panama": 5,
    "papua new guinea": 6,
    "paraguay": 5,
    "peru": 35,
    "philippines": 310,
    "poland": 27,
    "portugal": 30,
    "puerto rico": 2,
    "qatar": 12,
    "republic of the congo": 3,
    "romania": 27,
    "russia": 14,
    "rwanda": 6,
    "r\u00e9union": 1,
    "saint lucia": 1,
    "saudi arabia": 93,
    "senegal": 16,
    "serbia": 9,
    "seychelles": 1,
    "sierra leone": 2,
    "singapore": 521,
    "slovakia": 3,
    "somalia": 17,
    "south africa": 87,
    "south korea": 7,
    "south sudan": 2,
    "spain": 261,
    "sri lanka": 28,
    "sudan": 10,
    "suriname": 1,
    "sweden": 94,
    "switzerland": 36,
    "syria": 4,
    "taiwan": 15,
    "tajikistan": 1,
    "tanzania": 21,
    "thailand": 12,
    "the gambia": 2,
    "timor-leste": 1,
    "togo": 4,
    "trinidad and tobago": 1,
    "tunisia": 40,
    "turkey": 105,
    "uganda": 25,
    "ukraine": 25,
    "united arab emirates": 242,
    "united kingdom": 834,
    "united states": 16104,
    "uruguay": 8,
    "uzbekistan": 5,
    "venezuela": 27,
    "vietnam": 25,
    "wallis and futuna": 1,
    "yemen": 9,
    "zambia": 5,
    "zimbabwe": 9
  },
  "dataset_version": "28.1",
  "likelihood": 6
}